{% extends 'index.html' %}
{% load static %}
{% block body %}
{% if error == "pat1" %}
<script>
    alert('logged in successfully');
    window.location="{% url 'patient_home' %}";
</script>
{% endif %}

{% if error == "notmember" %}
<script>
    alert('Your information verification is pending.plz login after sometimes');
    window.location="{% url 'logout' %}";
</script>
{% endif %}

{% if error == "pat2" %}
<script>
    alert('logged in successfully');
    window.location="{% url 'doctor_home' %}";
</script>
{% endif %}

{% if error == "not" %}
<script>
    alert('Username & Password are not Matching');
</script>
{% endif %}

	<!-- login -->
	<section class="logins py-5">
		<div class="container py-xl-5 py-lg-3">
			<div class="title-section mb-md-5 mb-4">
				<h6 class="w3ls-title-sub"></h6>
				<h3 class="w3ls-title text-uppercase text-dark font-weight-bold">Login Now</h3>
			</div><hr/>
			<div class="login px-sm-4 mx-auto mw-100 login-wrapper">
				<form class="login-wrapper" action="" method="post">
					{% csrf_token %}
					<div class="form-group">
						<label>Username</label>
						<input type="text" class="form-control" name="uname" placeholder="Enter Username" required="">
						<small id="emailHelp" class="form-text text-muted">We'll never share your Detail with anyone else.</small>
					</div>
					<div class="form-group">
						<label>Password</label>
						<input type="password" class="form-control" name="pwd" placeholder="Enter Your Password" required="">
					</div>
					<button type="submit" class="btn btn-primary submit mt-4">Login</button>
					<p class="text-center mt-5">
						<a href="{% url 'signup' %}"> Don't have an Account?  Register here</a>
					</p>
				</form>
			</div>
		</div>
	</section>
	<!-- //login -->
{% endblock %}